body {
    background-color: rgb(38, 38, 38);
}

canvas {
    display: block;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;

    /* background-color: #87CEEB; */
}